<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- Static File Appender to log to Error.log -->
        <File name="ErrorFile" fileName="logs/Error.log" append="true">
            <PatternLayout>
                <Pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <!-- Root logger configuration, writes to both Error.log and Console -->
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ErrorFile"/>
        </Root>
    </Loggers>
</Configuration>

